.calculator {
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin: 50px auto 0;
  width: 30%;
  height: 120vh;
  border-radius: 40px;
  border: 2px solid rgb(247, 197, 197);
}
.calculator_header {
  display: flex;
  align-items: center;
  height: 10%;
  border-radius: 38px 38px 0 0;
  background-color: darkblue;
  border-bottom: 1px rgb(54, 9, 138) solid;
}
.calculator_header_history {
  margin: 0 auto;
  color: white;
}
.calculator_main {
  height: 30%;
  background-color: blue;
}
.calculator_main_content {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: red;
  height: 100%;
  font-weight: 500;
}
.calculator_bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60%;
  padding-left: 0px;
  border-radius: 0px 0px 38px 38px;
  background-color: gold;
}
.calculator_bottom_item {
  width: 20%;
  margin: 5px;
  padding: 16px 12px 9px 10px;
  background-color: aqua;
  border-radius: 999px;
  text-align: center;
}
.calculator_bottom_item:hover {
  opacity: 0.8;
}
.calculator_bottom_item:last-child {
  border-radius: 999px;
}
.history_show {
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  color: black;
  margin: 0 auto;
}
.btn {
  position: relative;
  left: 100px;
  top: 50px;
}
